.sv-tabs {
    background-color: #ffffff;

    &__indicator {
        height: 3px;
        background: #00d1b2;
        position: absolute;
        bottom: 0;
    }

    &__header {
        overflow: hidden;
        user-select: none;
        align-items: stretch;
        display: flex;
        font-size: 1rem;
        justify-content: space-between;
        white-space: nowrap;

        .sv-tabs__list-container {
            width: 100%;
            overflow: hidden;
        }

        &_nav-show {

            .sv-tabs__list-container {
                margin: 0 30px;
            }
        }

        .sv-tabs__list {
            list-style: none;
            align-items: center;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            justify-content: flex-start;
            position: relative;
        }

        .sv-tabs__item {
            display: block;
            margin: 0;
            padding: 0;

            &.active {
                a {
                    border-bottom-color: #00d1b2;
                    color: #00d1b2;
                }
            }

            a {
                text-decoration: none;
                align-items: center;
                color: #4a4a4a;
                display: flex;
                justify-content: center;
                margin-bottom: -1px;
                padding: .5em 1em;
                vertical-align: top;

                &:hover {
                    color: #363636;
                }
            }
        }
    }

    &__nav {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            width: 0;
            height: 0;
            border-style: solid;
            background: none;
        }

        .sv-tabs__arrow_left {
            border-width: 5px 10px 5px 0;
            border-color: transparent #6b6b6b transparent transparent;
            opacity: 0.3;

            &.active {
                cursor: pointer;
                opacity: 1;
            }
        }

        .sv-tabs__arrow_right {
            border-width: 5px 0 5px 10px;
            border-color: transparent transparent transparent #6b6b6b;
            opacity: 0.3;

            &.active {
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    &__details {
        position: relative;
    }
}
